* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

body {
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}

/* NAV STARTS */
/* ------------------------------------ */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: steelblue;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  font-size: 20px;
  padding: 1em;
  font-family: "Courgette", "cursive";
  letter-spacing: 4px;
}

.logo:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: mediumblue;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  float: left;
  padding: 15px;
}

.nav-links a:hover {
  color: white;
  background-color: darkgrey;
  border-radius: 4px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger .line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.6s ease;
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* -------------------------main section--------------------- */

main {
  margin-top: 1em;
}

span {
  font-size: 1rem;
  color: red;
}

.offers-lectures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 4vw;
}

.first-subtitle-offers-lectures {
  font-size: 2.5vw;
  padding: 1rem;
  text-align: center;
}

.second-subtitle,
.third-subtitle {
  font-size: 2.5vw;
}

.offers-lectures_img {
  width: 400px;
}

.content_offers-lectures-temporary-text {
  /* max-width: 500px; */
  text-align: center;
  height: 15rem;
}

.temporary-text {
  text-align: center;
  padding: 3em;
  font-weight: bolder;
  font-size: 2vw;
}

.container {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70vh;
  background-color: #112128;
  z-index: -1;
  margin-bottom: 2rem;
}

.container .box {
  position: relative;
  z-index: -1;
  background-color: pink;
  margin: 10px;
  padding: 15px;
  display: flex;
}

.container .box .imgBx {
  max-width: 900px;
  flex: 0 0 150px;
}

.container .box .content_offers-lectures {
  padding: 0 2rem;
}

.box_date {
  margin-top: 2rem;
  font-style: italic;
  font-weight: bold;
}

.subtitle-offers-lectures {
  margin-top: 1rem;
}

.main-text-offers-lectures {
  margin-top: 0.3rem;
  line-height: 1.5rem;
}

/*--------------- MEDIA QUERIES --------------*/

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    display: none;
  }
}

@media (max-width: 990px) {
  .container {
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    overflow: hidden;
    display: block;
  }

  .nav-links {
    position: absolute;
    left: -100%;
    height: 90vh;
    top: 10.2vh;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links a {
    color: pink;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container .box {
    flex-direction: column;
    max-width: 350px;
  }

  .container .box .imgBx {
    max-width: 100%;
  }

  .container .box .content_offers-lectures {
    margin-left: 0;
  }

  .temporary-text {
    font-size: 1.5rem;
  }

  .container .box .imgBx img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }

  .first-subtitle-offers-lectures {
    font-size: 1rem;
  }

  .second-subtitle,
  .third-subtitle {
    font-size: 1.3rem;
  }

  .temporary-text {
    font-size: 1.3rem;
  }
}

.nav-active {
  /* transform: translateX(0%); */
  left: 0;
}
